

#bbgh{
    padding:0px 5px !important;
    height: 50px;
    font-weight: 700 !important;
    background-color: #177ddd !important;
}
#bbgh:hover{
    padding:0px 5px !important;
    height: 50px;
    background-color: #2a4694 !important;
}
#bbgh:hover i{
    
    color: #8a98c0 !important;
}